## 6.5.2 - Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-01-23 21:26:29,-53.1500,-70.9167,60.80,44,40,27.63
1,1,Eureka,US,2021-01-23 21:28:54,40.8021,-124.1637,55.99,70,0,10.00
2,2,Ponta Do Sol,PT,2021-01-23 21:28:54,32.6667,-17.1000,60.01,78,100,1.99
3,3,Laguna,US,2021-01-23 21:28:55,38.4210,-121.4238,55.00,71,40,6.91
4,4,New Norfolk,AU,2021-01-23 21:28:55,-42.7826,147.0587,64.99,71,4,1.01

In [3]:
# Get Data Types - gmaps must be in float or int
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature to keep from having a negative max temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temps
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoom, Intensity, and Point Radius

## Create a Percent Humidity Heatmap

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,East London,ZA,2021-01-23 21:27:16,-33.0153,27.9116,75.47,79,71,22.35
14,14,Kapaa,US,2021-01-23 21:29:00,22.0752,-159.3190,75.20,88,90,23.02
17,17,Carnarvon,AU,2021-01-23 21:29:01,-24.8667,113.6333,75.20,60,90,16.11
24,24,Hilo,US,2021-01-23 21:29:05,19.7297,-155.0900,78.80,61,90,6.91
27,27,Bengkulu,ID,2021-01-23 21:29:06,-3.8004,102.2655,76.53,82,93,4.63
28,28,Rikitea,PF,2021-01-23 21:29:06,-23.1203,-134.9692,78.89,66,0,9.95
30,30,Butaritari,KI,2021-01-23 21:29:07,3.0707,172.7902,79.83,79,89,10.56
34,34,Merauke,ID,2021-01-23 21:29:08,-8.4667,140.3333,78.96,86,84,9.64
35,35,Mar Del Plata,AR,2021-01-23 21:25:31,-38.0023,-57.5575,80.60,74,0,13.80
43,43,Atuona,PF,2021-01-23 21:29:12,-9.8000,-139.0333,78.22,79,2,18.23

In [17]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

## 6.5.4 - Map Vacation Criteria

### Get Travel Destinations

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5     East London      ZA     75.47 -33.0153   27.9116
14          Kapaa      US     75.20  22.0752 -159.3190
17      Carnarvon      AU     75.20 -24.8667  113.6333
24           Hilo      US     78.80  19.7297 -155.0900
27       Bengkulu      ID     76.53  -3.8004  102.2655
28        Rikitea      PF     78.89 -23.1203 -134.9692
30     Butaritari      KI     79.83   3.0707  172.7902
34        Merauke      ID     78.96  -8.4667  140.3333
35  Mar Del Plata      AR     80.60 -38.0023  -57.5575
43         Atuona      PF     78.22  -9.8000 -139.0333

### Retrieve Hotels from a Nearby Search

#### Practice Using a Fixed Latitude and Longitude

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,East London,ZA,75.47,-33.0153,27.9116,Tu Casa
14,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
17,Carnarvon,AU,75.20,-24.8667,113.6333,Hospitality Carnarvon
24,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Bengkulu,ID,76.53,-3.8004,102.2655,Grage Hotel Bengkulu
28,Rikitea,PF,78.89,-23.1203,-134.9692,Pension Maro'i
30,Butaritari,KI,79.83,3.0707,172.7902,Isles Sunset Lodge
34,Merauke,ID,78.96,-8.4667,140.3333,
35,Mar Del Plata,AR,80.60,-38.0023,-57.5575,Gran Hotel Mar del Plata
43,Atuona,PF,78.22,-9.8000,-139.0333,Villa Enata

 ### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))